<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Edit Profile</h1>
            <div class="well text-block">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>