<div class="container text-center">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, 
    repellat, vitae est similique eaque ratione reiciendis veritatis distinctio 
    porro delectus debitis aliquam deserunt illum accusamus quia harum aut expedita 
    iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, tempore, 
    doloremque in maiores enim quod ea quo id eum reprehenderit minima excepturi 
    molestiae esse quaerat commodi. Quidem, facilis, sint. Iusto.</p>
</div>