<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You have received a message from the site's contact form.</p>
        <!--from < % = "#{ @name }, at #{ @email }. Here is their message:" % > -->
        <p>Name: <%= @name %></p>
        <p>Email: <%= @email %></p>
        <p>Message: "<%= @body %>"</p>
    </body>
</html>